{% extends 'base.html' %}
{% load bootstrap4 %}

{% block active_link %}nav-team{% endblock %}

{% block content %}
    {% if update_only %}
        <h3> Edit team member </h3>
        <h4><small class="text-muted">Edit contact info, location and role</small></h4>
    {% else %}
        <h3>Add a team member</h3>
        <h4><small class="text-muted">Set email, location and role</small></h4>
    {% endif %}
    <hr/>

    {% bootstrap_form_errors form %}
    <form method="post" style="display: inline;">{% csrf_token %}
        {% bootstrap_form form %}

        {% if update_only %}
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        {% else %}
            {% bootstrap_button "Create" button_type="submit" button_class="btn-primary" %}
        {% endif %}
    </form>
    {% if update_only %}
        {% url 'team:delete' form.instance.pk as delete_url %}
        <form method="post" action="{{ delete_url }}" style="display: inline;">
            {% csrf_token %}
            {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
        </form>
    {% endif %}
{% endblock %}
